div.title {
    text-align: center;
}

p.right{
    text-align: right;
}
div.container-fluid{
	padding-top: 10px;
	padding-right:25%;
	padding-left:25%;
}
h1{
	font-size:26px;
}
h2{
	font-size:20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 14px;
}

